body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

#pinContainer {
  width: 100%;
  height: 500px;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

#slideContainer {
  width: 400%;
  height: 500px;
}

.panel {
  height: 500px;
  width: 25%;
  float: left;
  text-align: center;
}

.one {
  background-color: #000;
  color: white;
}
.one h1 {
  padding-top: 100px;
  display: inline-block;
}
.one button {
  display: block;
  margin: 0 auto;
}

.two {
  background-color: blue;
  color: white;
}
.two h1 {
  padding-top: 100px;
  display: inline-block;
}

.three  {
  background-color: green;
  color: white;
}

.three h1 {
  padding-top: 100px;
  display: inline-block;
}

.four {
  background-color: purple;
  color: #FFF;
}

.four h1 {
  padding-top: 100px;
  display: inline-block;
}

.bullshit {
  width: 960px;
  margin: 0 auto 50px;
}

.containIt {
  width: 960px;
  margin: 0 auto 50px;
}

img {
  position: relative;
  margin-bottom: -4px;
}
