html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  width: 960px;
  margin: 0 auto;
}

.one {
  background-color: #000;
  color: white;
}
.one h1 {
  padding-top: 100px;
  display: inline-block;
  width: 255px;
}
.one button {
  display: block;
  margin: 0 auto;
}

.two {
  background-color: blue;
  color: white;
}
.two h1 {
  padding-top: 100px;
  display: inline-block;
  width: 255px;
}

.three  {
  background-color: green;
  color: white;
}

.three h1 {
  padding-top: 100px;
  display: inline-block;
  width: 255px;
}

.four {
  background-color: purple;
  color: #FFF;
}

.four h1 {
  padding-top: 100px;
  display: inline-block;
  width: 365px;
}

img#hotline {
  position: relative;
  width: 960px;
  margin: 30px auto 0;
  height: 85px;
  display: block;
}

nav {
  position: fixed;
  top: 0;
  z-index: 100;
  background: url('wheelchairjimmy.jpg') center no-repeat;
  width: 960px;
  margin: 0 auto;
  display: block;
  height: 100px;
}

header .content {
  padding: 30px;
  text-align: center;
}

#triggers {
  position: absolute;
  height: 100%;
}

#triggers div {
  position: absolute;
}

#triggers #t1 {
  top: 0;
}

#triggers #t2 {
  top: 100%;
}

#triggers #t3 {
  top: 200%;
}

#triggers #t4 {
  top: 300%;
}

#pinContainer {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.panel {
  height: 500px;
  width: 100%;
  position: absolute;
  /*text-align: center;*/
  overflow: hidden;
}

.panel .content {
  padding: 30px;
  color: #fff;
}

.panel .additionalContent {
  top: 100%;
  position: absolute;
}

footer .content {
  padding: 5px;
  text-align: center;
}

.lorem {
  margin: 50px auto 0;
  width: 960px;
}
